@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 style=font-size:1rem;">
    <div class="row">
        <div class="col-md-5">
        <address>
            <strong>Course Related Queries and Support :</strong><br>
            Md Khorshed Alam<br>
            Training Specialist<br>
            NAEM<br>
            <abbr title="Mobile No" class="text-primary"><i class="fas fa-phone"></i>  </abbr><span class="text-primary">  01712046399</a><br>
           <a href="mailto:#"><i class="fas fa-envelope-square"></i> mkhorshed8183@gmail.com</a> 
        </address>
        <address>
            <strong>Administrative Support & Queries :</strong><br>
            Md Asaduzzaman<br>
            Assistant Director(Admin & Finance)<br>
            NAEM<br>
            <abbr title="Mobile No" class="text-primary"><i class="fas fa-phone"></i>  </abbr><span class="text-primary">  01711260564</a><br>
            <a href="mailto:#"><i class="fas fa-envelope-square"></i> asaduzzaman_bd@yahoo.com</a>
        </address>
        <address>
            <strong>Online Registration Support & Queries :</strong><br>
            Md Shahin Uddin<br>
            Teacher Trainer<br>
            NAEM<br>
                <abbr title="Mobile No" class="text-primary"><i class="fas fa-phone"></i>  </abbr> <span class="text-primary">  01721505978</span><br>
            <a href="mailto:#"><i class="fas fa-envelope-square"></i> shaheenelt@gmail.com</a>
          
        </address>
          <address>
            <strong> Registration Support at Facebook</strong><br>
            Post your queries and feedback<br>
            <a href="" class="fb" class="text-primary"><i class="fab fa-facebook"> </i> </a>
          
        </address>
</div>
</div>
</div>
