@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-4">Instructions</h2>
    <p></p>
    <ul class="list-unstyled lead text-justify instruction"  style="list-style:disc"> 
        <li>Use a latest browser (Chrome/Firefox/Microsoft Edge). An old browser may have issue(s) submitting the form.</li>
        <li class="text-danger">White space(s) after, before or inside Mobile No., National ID No., Index/ID No., EIIN No. etc. fields may trigger errors.If you face such problem(s), make sure such field(s) doesn't/don't have such white space(s).If these problems persists, clear everythings in the filed(s) and reenter the data. </li>
        <li>Be careful to fill in  Date Input Fileds (Course Duration (From and To) and Date of Birth data input fields. They are in yyyy/mm/dd format (first -year, month -second and day last), and not in dd/mm/yyyy format.</li>
        <li>Profile Photo and Signature Image must be in .jpg/.jpeg/.png/.gif format. Other formats are not allowed.</li>
        <li>Recomended Dimensions (width and height) of a Profile Photo and a Signature Image are 55 × 55 mm/170 × 170 pixels and size of each Profile Photo/Signature Image will be less than or equal to 150KB. Images Bigger than these dimensions and size cause delay/other problem submitting the form. </li>
        <li>Successul form submission will redirect you to Success Page greeting you with Success! and presenting all the data successfully stored in the registration database. Click print icon to print it. To see who have registered <a asp-action="Registered" asp-controller="Trainee">click here.</a></li>
        <li>Before submitting the form, make sure that data you entered are correct and free of typos, particularly your name, designation and workplace. Some of them may be used when preparing your certificate.</a></li>

       <!--  <li class="fb"></li> -->
    </ul>
</div>
