dl dt { font-weight: normal;}
body { background-color: #F5F5F5;}
.bg-col{background-color:#404751}
.bg-col{background-color: #FAFAFB}
#search { margin-bottom: 50px}
#search label{ font-size: 1.2rem}
.src{padding-top: 2px;padding-bottom: 3px;}
//form {background-color: #E9F3F7}
//form{background-color: #F5F5F5}
//form {font-family: 'Montserrat', sans-serif;}
form{font-family: 'Raleway', sans-serif;}
label { text-align: right;}
/* form fieldset{background-color: #EBEDF3}

.form-group .col-form-label:after {
  content:" *";
  color:red;
}*/
.form-group .col-form-label:after {
  content:" *";
  color:red;
  font-size: 1rem;
} 
.fa-asterisk{color: red;font-size: .5rem;font-size: .5rem;padding-top: .3rem;}
.fix .col-form-label:after{content:"";
  color:red;}

  @media(max-width:576){
    label { text-align: left;}
  }



